<div class="bg-white w-full h-[80px] flex flex-row items-center justify-between p-2 gap-4 px-5">
    <div>
        <p class="text-black font-bold text-lg"><%= data.title %></p>
    </div>
    <div class="flex flex-row gap-2 items-center">
        <div>
            <p class="text-black font-normal text-sm"><%= data.name %></p>
            <p class="text-gray-600 font-normal text-xs"><%= data.date %></p>
        </div>
        <img class="w-10 h-10 rounded-full" src="/photos/bird.png" alt="Rounded avatar">
    </div>
</div>