<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/output.css" />
    <title>Login</title>
</head>
<body class="bg-blue-100 w-[100vw] h-[100vh] flex justify-center items-center">
    <%- include('components/toasts') %>

    <div class="flex w-[60%] h-[80%] bg-white rounded-4xl overflow-hidden">
        <div class="bg-white w-[50%] h-full p-20 flex flex-col justify-center">
            <!-- Login form or content goes here -->
            <p class="text-black text-2xl font-bold -mt-10">Login</p>
            <p class="text-black text-lg font-medium">Administrator Account</p>
            <form id="loginform">
                <div class="flex flex-col w-full mt-10">
                    <label for="email" class="block mb-1 text-sm font-medium text-black">Email:</label>
                    <input name="email" type="email" aria-describedby="helper-text-explanation" class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 " placeholder="email@gmail.com" required/>
                </div>
                <div class="flex flex-col w-full">
                    <label for="password" class="block mb-1 text-sm font-medium text-black">Password:</label>
                    <input name="password" type="password" aria-describedby="helper-text-explanation" class="mb-3 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 " placeholder="*******" required/>
                </div>
                <div class="flex flex-row justify-between mt-3">
                    <div class="inline-flex items-center">
                        <label class="flex items-center cursor-pointer relative" for="check-2">
                            <input id="rememberMe" type="checkbox"
                            class="peer h-5 w-5 cursor-pointer transition-all appearance-none rounded shadow hover:shadow-md border border-slate-300 checked:bg-slate-800 checked:border-slate-800"
                            id="check-2" />
                            <span class="absolute text-white opacity-0 peer-checked:opacity-100 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor"
                                stroke="currentColor" stroke-width="1">
                                <path fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                clip-rule="evenodd"></path>
                            </svg>
                            </span>
                        </label>
                        <label class="cursor-pointer ml-2 text-slate-600 text-sm" for="check-2">
                            Remember Me
                        </label>
                    </div>
                    <p class="text-sm text-red-500 font-medium cursor-pointer">Forgot Password?</p>
                </div>
                
                <button type="submit" class="mt-5 flex py-3 px-10 bg-blue-700 text-white font-semibold text-sm items-center justify-center  flex-row rounded-lg hover:bg-blue-200">
                    Login
                </button>
            </form>
        </div>
        <div class="bg-blue-500 w-[50%] h-full bg-[url(/photos/loginbg/bg.jpg)] bg-cover bg-right"></div>
    </div>
  <script type="module" src="/js/login.js"></script>
</body>

</html>